  <form class="c-form" 
    {% if cliente %}
      action="{{ url_for('clientes.atualizar_cliente', cliente_id=cliente.id)}}" 
    {% else %}
      action="{{ url_for('clientes.inserir_cliente')}}" 
    {% endif %}
    method="{% if cliente %}PUT{% else %}POST{% endif %}"
    c-append="#lista-clientes">
          <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input name="nome" type="text" class="form-control" {% if cliente %}value="{{cliente.nome}}"{% endif %}>
          </div>
          <div class="mb-3">
            <label class="form-label">Celular:</label>
            <input name="celular" type="text"  class="form-control" {% if cliente %}value="{{cliente.celular}}"{% endif %}> 
          </div>
          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input name="email" type="email"  class="form-control" {% if cliente %}value="{{cliente.email}}"{% endif %}> 
          </div>
        <button type="submit" class="btn btn-primary">
          {% if cliente %}Salvar{% else %}Criar{% endif %}
        </button>
  </form>