  <form class="c-form" action="{{ url_for('clientes.inserir_cliente')}}" method="POST">
    <div class="mb-3">
        <label name="nome" type="text">Nome:</label>
        <input class="form-control">
    </div>
        <div class="mb-3">
        <label name="celular" type="text" >Celular:</label>
        <input class="form-control">
    </div>
      </div>
        <div class="mb-3">
        <label name="email" type="email" >Email:</label>
        <input class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Salvar cliente</button>
  </form>